# ğŸ“Š Chat Database Explorer

æ¢ç´¢ `chat.db` æ•°æ®åº“ä¸­çš„æ•°æ®

---

In [1]:
# å¯¼å…¥å¿…è¦çš„åº“
import sqlite3
import pandas as pd
from datetime import datetime

# æ•°æ®åº“è·¯å¾„
DB_PATH = "chat.db"

def get_connection():
    """è·å–æ•°æ®åº“è¿æ¥"""
    return sqlite3.connect(DB_PATH)

# æµ‹è¯•è¿æ¥
conn = get_connection()
print("âœ… æ•°æ®åº“è¿æ¥æˆåŠŸï¼")
print(f"ğŸ“ æ•°æ®åº“è·¯å¾„: {DB_PATH}")

âœ… æ•°æ®åº“è¿æ¥æˆåŠŸï¼
ğŸ“ æ•°æ®åº“è·¯å¾„: chat.db

## 1ï¸âƒ£ æŸ¥çœ‹æ‰€æœ‰è¡¨

---

In [2]:
# æŸ¥çœ‹æ•°æ®åº“ä¸­æ‰€æœ‰çš„è¡¨
query = """
SELECT name as table_name
FROM sqlite_master
WHERE type='table'
ORDER BY name;
"""

tables = pd.read_sql_query(query, conn)
print("ğŸ“‹ æ•°æ®åº“ä¸­çš„è¡¨ï¼š")
print(tables.to_string(index=False))

ğŸ“‹ æ•°æ®åº“ä¸­çš„è¡¨ï¼š
table_name
  messages
     users

## 2ï¸âƒ£ ç”¨æˆ·ä¿¡æ¯è¡¨ (`users`)

---

In [3]:
# æŸ¥çœ‹ users è¡¨ç»“æ„
query = """
PRAGMA table_info(users);
"""

schema = pd.read_sql_query(query, conn)
print("ğŸ‘¤ Users è¡¨ç»“æ„ï¼š")
print(schema.to_string(index=False))

ğŸ‘¤ Users è¡¨ç»“æ„ï¼š
 cid            name     type  notnull dflt_value  pk
   0              id  INTEGER        1       None   1
   1        username  VARCHAR        1       None   0
   2 hashed_password  VARCHAR        1       None   0
   3      created_at DATETIME        0       None   0

In [4]:
# æŸ¥è¯¢æ‰€æœ‰ç”¨æˆ·ä¿¡æ¯
query = """
SELECT 
    id,
    username,
    hashed_password,
    created_at
FROM users
ORDER BY id;
"""

users_df = pd.read_sql_query(query, conn)

print(f"ğŸ‘¥ ç”¨æˆ·æ€»æ•°: {len(users_df)}")
print("\n" + "="*80)
print("ğŸ‘¤ ç”¨æˆ·è¯¦ç»†ä¿¡æ¯ï¼š")
print("="*80)

for idx, row in users_df.iterrows():
    print(f"\nğŸ“Œ ç”¨æˆ· {row['id']}:")
    print(f"   ç”¨æˆ·å: {row['username']}")
    print(f"   å¯†ç å“ˆå¸Œ: {row['hashed_password']}")
    print(f"   åˆ›å»ºæ—¶é—´: {row['created_at']}")
    print("-"*40)

ğŸ‘¥ ç”¨æˆ·æ€»æ•°: 3

================================================================================
ğŸ‘¤ ç”¨æˆ·è¯¦ç»†ä¿¡æ¯ï¼š
================================================================================

ğŸ“Œ ç”¨æˆ· 1:
   ç”¨æˆ·å: testuser
   å¯†ç å“ˆå¸Œ: $2b$12$f1ikwaoTLwwyP.Xh2.pSEOAvNyWvZVFAI3UcvxiC9bInuDE5fm0kW
   åˆ›å»ºæ—¶é—´: 2026-01-20 08:21:57.353005
----------------------------------------

ğŸ“Œ ç”¨æˆ· 2:
   ç”¨æˆ·å: test1
   å¯†ç å“ˆå¸Œ: $2b$12$oEScRk6RfQcaAcwnJg8w9Os.SV8gZn4aBw07v.qnmCb1GTqcKG5CW
   åˆ›å»ºæ—¶é—´: 2026-01-20 08:24:00.828193
----------------------------------------

ğŸ“Œ ç”¨æˆ· 3:
   ç”¨æˆ·å: test2
   å¯†ç å“ˆå¸Œ: $2b$12$Nmj0oy1zIPFgbhgH3j/pYuHhLqhH.WS/NTsJBrkE0u4O.vYuh4a6q
   åˆ›å»ºæ—¶é—´: 2026-01-20 08:30:55.848338
----------------------------------------

In [5]:
# è¡¨æ ¼å½¢å¼å±•ç¤ºç”¨æˆ·ä¿¡æ¯
print("ğŸ“Š ç”¨æˆ·è¡¨æ ¼è§†å›¾ï¼š")
users_df

ğŸ“Š ç”¨æˆ·è¡¨æ ¼è§†å›¾ï¼š

,id,username,hashed_password,created_at
0,1,testuser,$2b$12$f1ikwaoTLwwyP.Xh2.pSEOAvNyWvZVFAI3Ucvxi...,2026-01-20 08:21:57.353005
1,2,test1,$2b$12$oEScRk6RfQcaAcwnJg8w9Os.SV8gZn4aBw07v.q...,2026-01-20 08:24:00.828193
2,3,test2,$2b$12$Nmj0oy1zIPFgbhgH3j/pYuHhLqhH.WS/NTsJBrk...,2026-01-20 08:30:55.848338

## 3ï¸âƒ£ èŠå¤©æ¶ˆæ¯è¡¨ (`messages`)

---

In [6]:
# æŸ¥çœ‹ messages è¡¨ç»“æ„
query = """
PRAGMA table_info(messages);
"""

schema = pd.read_sql_query(query, conn)
print("ğŸ’¬ Messages è¡¨ç»“æ„ï¼š")
print(schema.to_string(index=False))

ğŸ’¬ Messages è¡¨ç»“æ„ï¼š
 cid       name     type  notnull dflt_value  pk
   0         id  INTEGER        1       None   1
   1    content  VARCHAR        1       None   0
   2    user_id  INTEGER        1       None   0
   3 created_at DATETIME        0       None   0

In [7]:
# æŸ¥è¯¢æ‰€æœ‰æ¶ˆæ¯ï¼ˆåŒ…å«ç”¨æˆ·åï¼‰
query = """
SELECT 
    m.id,
    m.content,
    m.user_id,
    u.username,
    m.created_at
FROM messages m
JOIN users u ON m.user_id = u.id
ORDER BY m.created_at DESC;
"""

messages_df = pd.read_sql_query(query, conn)

print(f"ğŸ’¬ æ¶ˆæ¯æ€»æ•°: {len(messages_df)}")
print("\n" + "="*80)
print("ğŸ“ æ¶ˆæ¯åˆ—è¡¨ï¼š")
print("="*80)

for idx, row in messages_df.iterrows():
    print(f"\nğŸ†” æ¶ˆæ¯ID: {row['id']}")
    print(f"ğŸ‘¤ ç”¨æˆ·: {row['username']} (ID: {row['user_id']})")
    print(f"ğŸ’¬ å†…å®¹: {row['content']}")
    print(f"ğŸ• æ—¶é—´: {row['created_at']}")
    print("-"*40)

ğŸ’¬ æ¶ˆæ¯æ€»æ•°: 0

================================================================================
ğŸ“ æ¶ˆæ¯åˆ—è¡¨ï¼š
================================================================================

In [8]:
# è¡¨æ ¼å½¢å¼å±•ç¤ºæ¶ˆæ¯
print("ğŸ“Š æ¶ˆæ¯è¡¨æ ¼è§†å›¾ï¼š")
messages_df

ğŸ“Š æ¶ˆæ¯è¡¨æ ¼è§†å›¾ï¼š

Empty DataFrame
Columns: [id, content, user_id, username, created_at]
Index: []

## 4ï¸âƒ£ ç»Ÿè®¡ä¿¡æ¯

---

In [9]:
# ç»Ÿè®¡æ¯ä¸ªç”¨æˆ·çš„å‘æ¶ˆæ¯æ•°é‡
query = """
SELECT 
    u.username,
    COUNT(m.id) as message_count
FROM users u
LEFT JOIN messages m ON u.id = m.user_id
GROUP BY u.id
ORDER BY message_count DESC;
"""

user_stats = pd.read_sql_query(query, conn)

print("ğŸ“Š ç”¨æˆ·å‘æ¶ˆæ¯ç»Ÿè®¡ï¼š")
print(user_stats.to_string(index=False))

ğŸ“Š ç”¨æˆ·å‘æ¶ˆæ¯ç»Ÿè®¡ï¼š
username  message_count
testuser              0
   test1              0
   test2              0

In [10]:
# æ¯æ—¥æ¶ˆæ¯æ•°é‡ç»Ÿè®¡
query = """
SELECT 
    DATE(created_at) as date,
    COUNT(*) as message_count
FROM messages
GROUP BY DATE(created_at)
ORDER BY date;
"""

daily_stats = pd.read_sql_query(query, conn)

print("ğŸ“… æ¯æ—¥æ¶ˆæ¯ç»Ÿè®¡ï¼š")
print(daily_stats.to_string(index=False))

ğŸ“… æ¯æ—¥æ¶ˆæ¯ç»Ÿè®¡ï¼š
Empty DataFrame
Columns: [date, message_count]
Index: []

## 5ï¸âƒ£ æœç´¢åŠŸèƒ½

---

In [11]:
# æœç´¢ç‰¹å®šç”¨æˆ·çš„æ¶ˆæ¯
def search_user_messages(username):
    """æœç´¢æŒ‡å®šç”¨æˆ·çš„æ‰€æœ‰æ¶ˆæ¯"""
    query = """
    SELECT 
        m.id,
        m.content,
        m.created_at
    FROM messages m
    JOIN users u ON m.user_id = u.id
    WHERE u.username = ?
    ORDER BY m.created_at DESC;
    """
    
    result = pd.read_sql_query(query, conn, params=(username,))
    return result

# ä½¿ç”¨ç¤ºä¾‹ï¼šæœç´¢ç”¨æˆ·ååŒ…å« "test" çš„æ¶ˆæ¯
username_to_search = "test"
print(f"ğŸ” æœç´¢ç”¨æˆ· '{username_to_search}' çš„æ¶ˆæ¯ï¼š\n")

result = search_user_messages(username_to_search)
if len(result) > 0:
    print(result.to_string(index=False))
else:
    print("æœªæ‰¾åˆ°è¯¥ç”¨æˆ·çš„æ¶ˆæ¯")

ğŸ” æœç´¢ç”¨æˆ· 'test' çš„æ¶ˆæ¯ï¼š

æœªæ‰¾åˆ°è¯¥ç”¨æˆ·çš„æ¶ˆæ¯

In [12]:
# æœç´¢åŒ…å«ç‰¹å®šå…³é”®è¯çš„æ¶ˆæ¯
def search_messages(keyword):
    """æœç´¢åŒ…å«å…³é”®è¯çš„æ¶ˆæ¯"""
    query = """
    SELECT 
        m.id,
        u.username,
        m.content,
        m.created_at
    FROM messages m
    JOIN users u ON m.user_id = u.id
    WHERE m.content LIKE ?
    ORDER BY m.created_at DESC;
    """
    
    result = pd.read_sql_query(query, conn, params=(f"%{keyword}%",))
    return result

# ä½¿ç”¨ç¤ºä¾‹ï¼šæœç´¢åŒ…å« "hello" çš„æ¶ˆæ¯
keyword_to_search = "hello"
print(f"ğŸ” æœç´¢åŒ…å« '{keyword_to_search}' çš„æ¶ˆæ¯ï¼š\n")

result = search_messages(keyword_to_search)
if len(result) > 0:
    print(result.to_string(index=False))
else:
    print("æœªæ‰¾åˆ°åŒ…å«è¯¥å…³é”®è¯çš„æ¶ˆæ¯")

ğŸ” æœç´¢åŒ…å« 'hello' çš„æ¶ˆæ¯ï¼š

æœªæ‰¾åˆ°åŒ…å«è¯¥å…³é”®è¯çš„æ¶ˆæ¯

## 6ï¸âƒ£ é«˜çº§æŸ¥è¯¢

---

In [13]:
# è·å–æœ€æ–° N æ¡æ¶ˆæ¯
def get_latest_messages(limit=10):
    """è·å–æœ€æ–° N æ¡æ¶ˆæ¯"""
    query = """
    SELECT 
        m.id,
        u.username,
        m.content,
        m.created_at
    FROM messages m
    JOIN users u ON m.user_id = u.id
    ORDER BY m.created_at DESC
    LIMIT ?;
    """
    
    result = pd.read_sql_query(query, conn, params=(limit,))
    return result

# è·å–æœ€æ–° 5 æ¡æ¶ˆæ¯
print("ğŸ“ æœ€æ–° 5 æ¡æ¶ˆæ¯ï¼š\n")
latest = get_latest_messages(5)
print(latest.to_string(index=False))

ğŸ“ æœ€æ–° 5 æ¡æ¶ˆæ¯ï¼š

Empty DataFrame
Columns: [id, username, content, created_at]
Index: []

In [14]:
# è·å–ç”¨æˆ·å‘æ¶ˆæ¯çš„æ—¶é—´åˆ†å¸ƒ
def get_user_activity_hours(username):
    """è·å–ç”¨æˆ·å‘æ¶ˆæ¯çš„å°æ—¶åˆ†å¸ƒ"""
    query = """
    SELECT 
        CAST(strftime('%H', created_at) AS INTEGER) as hour,
        COUNT(*) as message_count
    FROM messages m
    JOIN users u ON m.user_id = u.id
    WHERE u.username = ?
    GROUP BY hour
    ORDER BY hour;
    """
    
    result = pd.read_sql_query(query, conn, params=(username,))
    return result

# æŸ¥çœ‹æŸä¸ªç”¨æˆ·çš„æ´»è·ƒæ—¶é—´
print("â° ç”¨æˆ·å‘æ¶ˆæ¯æ—¶é—´åˆ†å¸ƒï¼š\n")
activity = get_user_activity_hours("testuser")
if len(activity) > 0:
    print(activity.to_string(index=False))
else:
    print("æœªæ‰¾åˆ°è¯¥ç”¨æˆ·çš„æ¶ˆæ¯")

â° ç”¨æˆ·å‘æ¶ˆæ¯æ—¶é—´åˆ†å¸ƒï¼š

DatabaseError: Execution failed on sql '
    SELECT
        CAST(strftime('%H', created_at) AS INTEGER) as hour,
        COUNT(*) as message_count
    FROM messages m
    JOIN users u ON m.user_id = u.id
    WHERE u.username = ?
    GROUP BY hour
    ORDER BY hour;
    ': ambiguous column name: created_at

## ğŸ” å¯†ç å®‰å…¨æ£€æŸ¥

---

In [15]:
# éªŒè¯å¯†ç æ˜¯å¦æ­£ç¡®
from passlib.context import CryptContext

pwd_context = CryptContext(schemes=["bcrypt"], deprecated="auto")

def verify_password(username, plain_password):
    """éªŒè¯ç”¨æˆ·å¯†ç """
    query = """
    SELECT hashed_password FROM users WHERE username = ?;
    """
    
    result = pd.read_sql_query(query, conn, params=(username,))
    
    if len(result) == 0:
        return False, "ç”¨æˆ·ä¸å­˜åœ¨"
    
    hashed_password = result.iloc[0]['hashed_password']
    
    if pwd_context.verify(plain_password, hashed_password):
        return True, "å¯†ç æ­£ç¡®"
    else:
        return False, "å¯†ç é”™è¯¯"

# æµ‹è¯•å¯†ç éªŒè¯
print("ğŸ” å¯†ç éªŒè¯æµ‹è¯•ï¼š\n")

test_cases = [
    ("testuser", "testpass"),
    ("testuser", "wrongpass"),
    ("nonexistent", "pass"),
]

for username, password in test_cases:
    success, message = verify_password(username, password)
    status = "âœ…" if success else "âŒ"
    print(f"{status} ç”¨æˆ·: {username}, å¯†ç : {password} â†’ {message}")

ğŸ” å¯†ç éªŒè¯æµ‹è¯•ï¼š

âœ… ç”¨æˆ·: testuser, å¯†ç : testpass â†’ å¯†ç æ­£ç¡®
âŒ ç”¨æˆ·: testuser, å¯†ç : wrongpass â†’ å¯†ç é”™è¯¯
âŒ ç”¨æˆ·: nonexistent, å¯†ç : pass â†’ ç”¨æˆ·ä¸å­˜åœ¨

In [16]:
# æ£€æŸ¥å¯†ç å¼ºåº¦ï¼ˆç®€å•æ£€æŸ¥ï¼‰
print("ğŸ”’ å¯†ç å¼ºåº¦åˆ†æï¼š\n")

query = """
SELECT username, hashed_password FROM users;
"""

users = pd.read_sql_query(query, conn)

for idx, row in users.iterrows():
    pwd_len = len(row['hashed_password'])
    print(f"ğŸ‘¤ {row['username']}:")
    print(f"   å¯†ç å“ˆå¸Œé•¿åº¦: {pwd_len} å­—ç¬¦")
    print(f"   å“ˆå¸Œç®—æ³•: bcrypt (é€šè¿‡ passlib)")
    print(f"   å®‰å…¨ç­‰çº§: âœ… é«˜ (bcrypt è‡ªåŠ¨åŠ ç›)")
    print()

ğŸ”’ å¯†ç å¼ºåº¦åˆ†æï¼š

ğŸ‘¤ testuser:
   å¯†ç å“ˆå¸Œé•¿åº¦: 60 å­—ç¬¦
   å“ˆå¸Œç®—æ³•: bcrypt (é€šè¿‡ passlib)
   å®‰å…¨ç­‰çº§: âœ… é«˜ (bcrypt è‡ªåŠ¨åŠ ç›)

ğŸ‘¤ test1:
   å¯†ç å“ˆå¸Œé•¿åº¦: 60 å­—ç¬¦
   å“ˆå¸Œç®—æ³•: bcrypt (é€šè¿‡ passlib)
   å®‰å…¨ç­‰çº§: âœ… é«˜ (bcrypt è‡ªåŠ¨åŠ ç›)

ğŸ‘¤ test2:
   å¯†ç å“ˆå¸Œé•¿åº¦: 60 å­—ç¬¦
   å“ˆå¸Œç®—æ³•: bcrypt (é€šè¿‡ passlib)
   å®‰å…¨ç­‰çº§: âœ… é«˜ (bcrypt è‡ªåŠ¨åŠ ç›)

## ğŸ“Š æ•°æ®å¯¼å‡º

---

In [ ]:
# å¯¼å‡ºç”¨æˆ·æ•°æ®åˆ° CSV
def export_users_to_csv(filename="users_export.csv"):
    """å¯¼å‡ºç”¨æˆ·æ•°æ®åˆ° CSV æ–‡ä»¶"""
    query = "SELECT * FROM users;"
    df = pd.read_sql_query(query, conn)
    df.to_csv(filename, index=False)
    print(f"âœ… ç”¨æˆ·æ•°æ®å·²å¯¼å‡ºåˆ°: {filename}")

# å¯¼å‡ºæ¶ˆæ¯æ•°æ®åˆ° CSV
def export_messages_to_csv(filename="messages_export.csv"):
    """å¯¼å‡ºæ¶ˆæ¯æ•°æ®åˆ° CSV æ–‡ä»¶"""
    query = """
    SELECT 
        m.id,
        m.content,
        m.user_id,
        u.username,
        m.created_at
    FROM messages m
    JOIN users u ON m.user_id = u.id;
    """
    df = pd.read_sql_query(query, conn)
    df.to_csv(filename, index=False)
    print(f"âœ… æ¶ˆæ¯æ•°æ®å·²å¯¼å‡ºåˆ°: {filename}")

# æ‰§è¡Œå¯¼å‡º
export_users_to_csv()
export_messages_to_csv()

## âŒ å…³é—­è¿æ¥

---

In [17]:
# å…³é—­æ•°æ®åº“è¿æ¥
conn.close()
print("ğŸ”’ æ•°æ®åº“è¿æ¥å·²å…³é—­")

ğŸ”’ æ•°æ®åº“è¿æ¥å·²å…³é—­